{{define "body"}}
<h1 class="text-3xl mt-6 mb-6">Your Library</h1>

{{ if eq .Directory nil }}
<div
  id="file-list"
  class="grow shrink flex flex-col justify-center items-center"
>
  <span class="block mb-6 text-center"
    >No workspace available on Google Drive.</span
  >

  <form
    hx-post="/resource/workspace/create"
    hx-target="#file-list"
    hx-swap="outerHTML"
  >
    <span class="block text-center">
      <button
        type="submit"
        class="p-3 px-5 border border-black dark:border-white rounded rounded-md"
      >
        Create a workspace
      </button>
    </span>
  </form>
</div>
{{ else }}
<div class="flex flex-col">
  <div class="mb-4">{{ template "breadcrumbs.html" .Breadcrumbs }}</div>
  <div class="grow shrink">{{ template "files.html" .Files }} {{ end }}</div>
</div>
{{end}} {{define "footer"}}
<a
  href="#"
  onclick="
    event.preventDefault();
    document.getElementById('new-project-modal').classList.remove('hidden');
  "
  class="ms-auto inline-flex items-center p-3 px-5 border border-2 border-black dark:border-white rounded rounded-md"
>
  <span>New Project</span>
  <svg
    class="dark:fill-white ms-2 -me-2 w-4"
    width="24"
    height="24"
    xmlns="http://www.w3.org/2000/svg"
    fill-rule="evenodd"
    clip-rule="evenodd"
    viewBox="0 0 24 24"
  >
    <path d="M11 11v-11h1v11h11v1h-11v11h-1v-11h-11v-1h11z" />
  </svg>
</a>
{{ end }}
