{{define "body"}}
<h1 class="text-3xl mb-2">Your Library</h1>

<div class="grid grow shrink">
  <div
    id="file-list"
    class="grow shrink flex flex-col justify-center items-center"
  >
    {{ if eq .Directory nil }}
    <span class="block mb-6 text-center">No photo directory available.</span>

    <form hx-post="/resource/photo-directory/create" hx-target="#file-list">
      <span class="block text-center">
        <button type="submit" class="p-3 px-5 border rounded rounded-md">
          Create Directory
        </button>
      </span>
    </form>
    {{ else }} {{ template "files.html" .Files }} {{ end }}
  </div>
</div>
{{end}}
