{{define "body"}}
<h1 class="text-3xl mb-6">Your Library</h1>

{{ if eq .Directory nil }}
<div
  id="file-list"
  class="grow shrink flex flex-col justify-center items-center"
>
  <span class="block mb-6 text-center"
    >No workspace available on Google Drive.</span
  >

  <form
    hx-post="/resource/photo-directory/create"
    hx-target="#file-list"
    hx-swap="outerHTML"
  >
    <span class="block text-center">
      <button type="submit" class="p-3 px-5 border rounded rounded-md">
        Create a workspace
      </button>
    </span>
  </form>
</div>
{{ else }} {{ template "files.html" .Files }} {{ end }} {{end}}
