{{define "body"}}
<img src="/preview" alt="" />
{{end}} {{define "footer"}}
<a
  href="/"
  class="ms-auto inline-flex items-center p-3 px-5 border rounded rounded-md"
>
  <svg
    class="dark:fill-white -ms-2 me-2 w-4"
    width="24"
    height="24"
    xmlns="http://www.w3.org/2000/svg"
    fill-rule="evenodd"
    clip-rule="evenodd"
    viewBox="0 0 24 24"
  >
    <path
      d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"
    />
  </svg>
  <span> Library </span>
</a>
{{end}}
