{{define "body"}}
<div
  id="stream"
  class="grow relative flex flex-col justify-center overflow-hidden"
  style=""
>
  <img
    id="stream-image"
    src="/capture/stream"
    alt="Stream image"
    class="select-none z-0"
    style="max-height: 100%; user-drag: none; -webkit-user-drag: none"
  />

  <div class="absolute bottom-4 end-0 start-0 text-center z-20">
    <button
      id="scan-button"
      hx-post="/capture/scan?project={{ .ProjectId }}"
      hx-disabled-elt="this"
      hx-swap="none"
      class="group grow-0 shrink-0 relative w-16 h-16 rounded rounded-full overflow-hidden disabled:opacity-70"
    >
      <span
        class="absolute top-0 start-0 inline-block h-full w-full border border-4 border-black dark:border-white rounded rounded-full"
      >
        <span
          class="absolute top-0 start-0 w-full h-full dark:bg-white opacity-20"
        ></span>
      </span>
      <span
        class="invisible group-disabled:visible absolute top-0 start-0 inline-block h-full w-full p-5 animate-spin text-center"
      >
        <svg
          class="h-full w-full dark:fill-white"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm8 12c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8 8 3.582 8 8zm-19 0c0-6.065 4.935-11 11-11v2c-4.962 0-9 4.038-9 9 0 2.481 1.009 4.731 2.639 6.361l-1.414 1.414.015.014c-2-1.994-3.24-4.749-3.24-7.789z"
          />
        </svg>
      </span>
    </button>
  </div>
</div>
{{end}} {{define "footer"}}
<a
  href="/project/{{ .ProjectId }}"
  class="ms-auto inline-flex items-center p-3 px-5 border border-2 border-black dark:border-white rounded rounded-md"
>
  <svg
    class="dark:fill-white -ms-2 me-2 w-4"
    width="24"
    height="24"
    xmlns="http://www.w3.org/2000/svg"
    fill-rule="evenodd"
    clip-rule="evenodd"
    viewBox="0 0 24 24"
  >
    <path
      d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"
    />
  </svg>
  <span> Project </span>
</a>
{{end}}
