{{define "body"}}
<div class="grow relative flex flex-col justify-center">
  <img class="" src="/capture/stream" alt="" />
  <div class="absolute bottom-4 end-0 start-0 text-center">
    <button
      hx-post="/capture/scan"
      class="grow-0 shrink-0 w-16 h-16 border border-4 rounded rounded-full overflow-hidden before:bg-white before:block before:bottom-0 before:end-0 before:h-full before:opacity-20 before:start-0 before:top-0 before:w-full"
    ></button>
  </div>
</div>
{{end}} {{define "footer"}}
<a
  href="/"
  class="ms-auto inline-flex items-center p-3 px-5 border rounded rounded-md"
>
  <svg
    class="dark:fill-white -ms-2 me-2 w-4"
    width="24"
    height="24"
    xmlns="http://www.w3.org/2000/svg"
    fill-rule="evenodd"
    clip-rule="evenodd"
    viewBox="0 0 24 24"
  >
    <path
      d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"
    />
  </svg>
  <span> Library </span>
</a>
{{end}}
