{{define "body"}}
<h1 class="text-3xl mt-6 mb-6">Your Library</h1>

{{ if eq .Directory nil }}
<div
  id="file-list"
  class="grow shrink flex flex-col justify-center items-center"
>
  <span class="block mb-6 text-center">Project not found.</span>

  <span class="block text-center">
    <a
      href="/"
      class="p-3 px-5 border border-black dark:border-white rounded rounded-md"
    >
      Go back to Library
    </a>
  </span>
</div>
{{ else }}
<div class="flex flex-col">
  <div class="flex justify-between">
    <div class="mb-4">{{ template "breadcrumbs.html" .Breadcrumbs }}</div>
    {{ if (gt (len .Cache) 0) }}
    <button
      class="group ms-auto inline-flex items-center mb-5 -mt-5 p-2 px-4 text-sm text-blue-600 dark:text-blue-400 border border-2 border-blue-600 dark:border-blue-400 rounded rounded-md disabled:opacity-70"
      hx-post="/resource/cache/{{ .Directory.Id }}/upload"
      hx-confirm="Are you sure you want to upload all cached scans?"
      hx-disabled-elt="this"
      hx-swap="none"
    >
      <span
        class="hidden group-disabled:inline-block shrink-0 grow-0 block h-4 w-4 me-2 -ms-1 animate-spin"
      >
        <svg
          class="h-full w-full fill-blue-600 dark:fill-blue-400"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm8 12c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8 8 3.582 8 8zm-19 0c0-6.065 4.935-11 11-11v2c-4.962 0-9 4.038-9 9 0 2.481 1.009 4.731 2.639 6.361l-1.414 1.414.015.014c-2-1.994-3.24-4.749-3.24-7.789z"
          />
        </svg>
      </span>
        <span class="grow-0 shrink-0">
          Upload Scans
        </span>
    </button>
    {{ end }}
  </div>
  {{ if (gt (len .Cache) 0) }}
  <div class="grow shrink flex flex-col mb-5">
    <div
      class="grid gap-4 grid-cols-2 sm:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7 grid-rows-auto pb-5 border-b-2 border-blue-600 dark:border-blue-400"
    >
      {{ template "cache.html" . }}
    </div>
  </div>
  {{ end }}
  <div class="grow shrink flex flex-col">
    <div
      class="grid gap-4 grid-cols-2 sm:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7 grid-rows-auto"
    >
      {{ template "files.html" . }} {{ end }}
    </div>
  </div>
  {{end}} {{define "footer"}}
  <a
    href="/project/{{ .Directory.Id }}/scan"
    class="ms-auto inline-flex items-center p-3 px-5 border border-2 border-black dark:border-white rounded rounded-md"
  >
    <span>New Scan</span>
    <svg
      class="dark:fill-white ms-2 -me-2 w-4"
      width="24"
      height="24"
      xmlns="http://www.w3.org/2000/svg"
      fill-rule="evenodd"
      clip-rule="evenodd"
      viewBox="0 0 24 24"
    >
      <path d="M11 11v-11h1v11h11v1h-11v11h-1v-11h-11v-1h11z" />
    </svg>
  </a>
  {{ end }}
</div>
