<!doctype html>
<html
  lang="en"
  class="h-full bg-white dark:bg-black text-black dark:text-white"
>
  <head>
    <title>Open Scanner</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/assets/OpenScanner.png" />

    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    {{block "head" .}}{{end}}
  </head>
  <body class="h-full flex flex-col">
    <div class="grow shrink flex flex-col items-center pb-20">
      <div class="grow shrink flex flex-col w-full max-w-screen-2xl">
        <div class="grow shrink flex flex-col content p-3 pt-5">
          {{block "body" .}}{{end}}
        </div>
      </div>
    </div>
    <div
      class="fixed bottom-0 start-0 end-0 dark:bg-black grow-0 shrink-0 flex justify-center p-3 border-t-2"
    >
      <div class="grow shrink flex w-100 max-w-screen-2xl">
        <a class="inline-flex flex-row items-center" href="/">
          <img
            class="inline-block dark:hidden w-11 me-3"
            src="/assets/OpenScanner.svg"
            alt=""
          />
          <img
            class="dark:inline-block w-11 me-3"
            src="/assets/OpenScannerWhite.svg"
            alt=""
          />
          <span class="text-2xl">Open Scanner</span>
        </a>

        {{block "footer" .}} {{end}}
      </div>
    </div>
  </body>
</html>
